<!-- Header -->
<header id="header">
  <h1><b>Junoon</b></h1>
  <p>This year Presents<br />
  The Fire Within</p>
</header>


<!--------------------------------------------------------------------------------------------------------------------------------------------------->



<!-- first example -->
<div class="container">
  <form action="">
    <div class="form-row">
      <label for="name">Junoon:</label>
      <input type="text" id="name">
    </div>
    <div class="form-row">
      <label for="favColor">Looking For:</label>
      <input type="text" id="favColor">
    </div>
  </form>
</div>

<!-- second example -->
<div class="column-layout">
  <div class="main-column">
    <h2>Main Column</h2>
    <p><b>The Fire WithIn</b></p>
  </div>

  <div class="sidebar-one">
    <h3>Side Desk</h3>
    <p>Antaragni Presents.</p>
  </div>

  <div class="sidebar-two">
    <h3>Side Desk</h3>
    <p>For the Indian fusion music band.</p>
  </div>
</div>

<!-- third example -->
<div class="call-outs-container">
  <div class="call-out">
    <h4>History</h4>
    <p> Antaragni begun as an inter-collegiate cultural event in 1965. The name of the festival was changed from Culfest to Antaragni in 1993 after 27 years of its inception.[citation needed] The 2006 edition saw performances by Vishwa Mohan Bhatt and Astad Deboo.[3] 
      The 2016 edition included performances by Mike Candys, Sartek, Demonic Resurrection, Madboy Mink and Adnan Sami.[4] 
      The 2017 edition became the first Indian college festival to have featured DJ KSHMR, the musical duo of Vishal-Shekhar, the energy of Euphoria and the charisma of Skyharbor. 
      The 2018 edition featured even greater artists, including the marvelous performance by Amit Trivedi, DJ Quintino, the famous Indie band The Local Train and the guitar maestro Guthrie Govan. 
      The 2019 edition witnessed legends like Shankar Mahadevan,Ehsaan Noorani and Loy Mendonsa. </p>
  </div>

  <div class="call-out">
    <h4>Notable events</h4>
    <p>ndia Inspired is a political forum, with politicians, leaders and media persons.[5] Issues which are socially relevant and with an emphasis on youth culture are discussed. In the past years it has witnessed participation from the student community and has led to spirited discussions. Speakers at this event have included Sekhar Kammula, noted Telegu film director; Vineet Joshi CBSE chairman; and Vasundhara Das, actress, singer and social activist. 
      Kavi Sammelan is a poetry competition. Antaragni'10 had Rahat Indori, a painter, professor, poet and film lyricist, and the poet Dr. Kirti Kale whose programs have been broadcast on radio and TV.[6] 
      Competitions in dance, dramatics, fine arts, film and photography, and musicals are conducted. There are also debates, discussions, word games and writing contests in English and Hindi. Many quizzes are held by professional quiz masters. Each of these events has cash prizes and college teams competing for the top prize. Some of the previous film making contests have been judged by established film director like Abbas Tyrewala and Luv Ranjan.[7] Dance events are held in the auditorium, with different styles of dance exhibited. 
      Hindi literary events-2018 have been judged by established Hindi Writer Nasira Sharma, Leeladhar Jagudi and Ravindra Prabhat.[8] </p>
  </div>

  <div class="call-out">
    <h4>Organisation</h4>
    <p>The festival is purely organised by the students of IIT Kanpur.[9] The Antaragni chairman is the only faculty member of the team. Organisation is structured into two levels. The core team consists of Festival coordinators (overall heads) and the Heads of competitions, events, finance, marketing, show management, and public relations. Each category of competition is managed by coordinators with help of secretaries and volunteers. Other auxiliary units such as public relations are managed by executives with the help of and volunteers. A team of nearly 800 students works for eight months to plan, manage and execute the festival. </p>
  </div>
</div>

<!-- fourth example -->
<div class="fixed-size-container">
  <div class="fixed-size">Alpha</div>
  <div class="fixed-size">Beta</div>
  <div class="fixed-size">Gamma</div>
  <div class="fixed-size">Delta</div>
  <div class="fixed-size">Lamda</div>
</div>

<!-- fifth example -->
<div class="banner">
  <div class="center-me">Content</div>
</div>

<!-- sixth example -->
<div class="equal-height-container">
  <div class="first">
    <p>Antaragni (English: The Fire Within) is the Annual cultural festival of IIT Kanpur, held in October.[1] It is one of the biggest college cultural festivals of Asia. The four-day-long festival, attracts participation from over 350 colleges of India.[2] It features professional shows, competitions, performances by amateur rock bands, DJs, Ustads and Pandits, fashion shows, Indian folk dances, etc. </p>
  </div>

  <div class="second">
    <div class="second-a">Upper</div>
    <div class="second-b">Lower</div>
  </div>
</div>





<!--------------------------------------------------------------------------------------------------------------------------------------------------->


<!-- Signup Form -->
<form id="signup-form" method="post" action="#">
  <input type="email" name="email" id="email" placeholder="Email Address" />
  <input type="submit" value="Sign Up" />
</form>

<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
  </ul>
  <ul class="context">
    <li>Happy</li><li>Credits: <a href="Https://en.wikipedia.org/wiki/antaragni">Antaragni</a></li>
  </ul>
</footer>